table {
    width: 100%;
    border-collapse:collapse;
    text-align: center;
}

table th {
    color:#005ab3;
}

table td {
    border-bottom:1px dashed #999;
}

table th, table tr:last-child td {
    border-bottom:2px solid #005ab3;
}

table td, table th {
    padding:10px;
}

@media screen and (max-width: 1080px) { 
    body, form, textarea, input, select, button {
        font-size:4.8rem; /* 48px*/
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    #subject {
        background-color: #acacff;
    }
    
    table th,
    table td {
        font-size:4.8rem; /* 48px*/
        line-height: 7.8rem;
        display: block;
        width: 100%;
        border-bottom:none;
    }
/*    
    tr:last-child {
        border-bottom: solid 1px #ccc;
    }*/
}
